body{
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

.team__title{
    text-align: center;
    font-size: 2cm;
    color: white;
    background: #58b19f;
    margin: 0;
    margin-bottom: 5vh;
}


.team__item-icon{
    height: 10vw;
    width: 10vw;
    background-color: #bce9e0;
    border-radius: 50%;
    margin: auto auto;
    display: block;
    }

.team__container{
    color: #000000;
    display: grid;
    grid-template-columns: 500px 500px 500px;
    column-gap: 50px;
    row-gap: 50px;
    margin-left: 50px;
}


.team__item{
    width: 20vw;
    border: 2px solid #58b19f;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    }

.team__item-title{
    text-align: center;
    font-size: 2vw;
}

.team__item-content{
    font-size: 20px;
    color: gray;
    margin: 30px;
}
