body{
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

.team__title{
    text-align: center;
    font-size: 2cm;
    color: white;
    background: #58b19f;
    margin: 0;
    margin-bottom: 5vh;
}

.team__item-photo{
    height: 10vw;
    width: 10vw;
    background-color: #bce9e0;
    border-radius: 50%;
    margin: 0 auto;
}

.team__container{
    color: #000000;
    display: flex
}

.team__item{
    width: 20vw;
    border: 2px solid #58b19f;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    }

.team__item-title{
    text-align: center;
    font-size: 2vw;
}

.team__item-content{
    font-size: 20px;
    color: gray;
    margin: 30px;
}
